/* Website styles */

* {
  font-size: 100%;
}

body {
  background-color: tan;
  color: black;
  font-family: arial;
  font-family: 'Artifika', serif;
  font-size: 14px;
}

<header>
h1 {
  color: blue;
  background-color: white;
  font-size: 35px;
  text-align: centre;
}

h2 {
  color: pink;
  font-size: 24px;
}

h3 {
    font-size: 18px;
}

header {
  background-color: pink;
}

ol {
  background-color: green;
}

ul {
  background-color: pink;
}

h1, h2, h3 {
  font-weight: 700;
  font-style: normal;
}

header h1 {
  text-align: centre;
}

a {
  color: blue;
  text-decoration: none;
}
