/* Website styles */

* {
  font-size: 100%;
}

body {
  background-color: green;
  color: black;
  font-family: arial;
  font-family: 'Artifika', serif;
  font-size: 14px;
}

h1 {
  color: pink;
  background-color: white;
  font-size: 36px;
  text-align: centre;
}

h2 {
  color: pink;
  font-size: 24px;
}

h3 {
    font-size: 18px:
}

header {
  background-color: yellow;
}

ol {
  background-color: green;
}

ul {
  background-color: pink;
}

h1, h2, h3 {
  font-weight: 700;
  font-style: normal;
}
