/* Website styles */

* {
  font-size: 100%;
}

body {
  background-color: green;
  color: black;
  font-family: arial;
  font-family: 'Artifika', serif;
}

h1 {
  color: pink;
  background-color: white;
}

h2 {
  color: pink;
}

h3 {
  color: orange;
}

h4 {
  color: grey;
}

h5 {
  color: green;
}

h6 {
  color: black;
}

<body: {
  color: yellow;
}
